extends layout

block content
  - var turnOnMenu = game && game.memes[0];
  script.
    var leadersA = new Array(), numSelfFunded = 0;
    var corpsA = new Array();

  #sidebar
    if turnOnMenu
      img.memeimage(src="/images/#{game.memes[0].name}memeimage.jpg")
    else
      img.memeimage(src="/images/memewarsmemeimage.jpg")
    if turnOnMenu
      #turnCounter
        p #{game.turns[0].quarter} #{game.turns[0].year}
        button End Turn
      ul
        li
          button#expendituresMenu
            p Expenditures
        li
          button#incomeMenu
            p Income
        if game && game.memes[0]
          li
            button#researchMenu
              p #{game.memes[0].researchName}
        else
          li
            button#researchMenu
              p Research
        li
          button#memesMenu
            p Memes
        li
          button#historyMenu
            p History
        li
          button#settingsMenu
            p Settings

  formUrl = '/user/' + accountId + '/game/' + gameId
  form#content( action=formUrl, method="POST")
    if turnOnMenu
      #income
        label(for="income") Income #{game.memes[0].monetaryUnit} #{game.turns[0].income}
        progress(value="1.0", name="income")
        p#remainingIncome #{game.memes[0].monetaryUnit} #{game.turns[0].income}
      fieldset#expendituresPage(name="expenditures")
        #propaganda
          label(for="propaganda") Propaganda
          input(type="range", name="propaganda", max=#{game.turns[0].income}, value=game.turns[0].propaganda)
        #research
          label(for="research") #{game.memes[0].researchName}
          input(type="range", name="research", max=#{game.turns[0].income}, value=game.turns[0].research)
        #locales
          each locale,i in game.locales
            .localeFunding
              button
                label(for=locale.name) #{locale.name}
              input(type="range", name=locale.name, value=locale.funding)
        br
        br
        br
        #leaders
          each leader in game.memes[0].heroes
            script.
              leadersA.push( {name:"#{leader.name}",
                              selffunding:#{leader.selffunding},
                              funded:#{leader.funded}
                             });
              if( #{leader.selffunding})
                  numSelfFunded++;
            .leaderFunding
              input(type="checkbox", id=leader.name, name=leader.name, value=leader.funded)
              label(for=leader.name) #{leader.name}
      fieldset#incomePage(name="income")
        #corporations
          p#corpTotal Corporations #{game.turns[0].corpIncome}
          each corp in game.memes[0].corps
            button.corpDetailButton
              p #{corp.name}
              p #{corp.donation} #{game.memes[0].monetaryUnit}
      fieldset#researchPage(name="research")
      fieldset#memesPage(name="memes")
      fieldset#historyPage(name="history")
    fieldset#settingsPage(name="settings")
      a(href='/') Logout
      newGameURL = '/user/' + accountId + '/game/new'
      a(href=newGameURL) New Game
      .multilist
        ul.listgroup

  script.
    $(document).ready( function() {
        //expendituresPage
        var lastLocaleChanged = -1;
        var adjustCollection = function(collection,total) {
            collection.each( function(i,e) {
                if( i > lastLocaleChanged) {
                    var val = parseInt($(e).val(),10);
                    if( total != 100) {
                        if( i == (collection.length-1))
                            lastLocaleChanged = -1;
                        else
                            lastLocaleChanged = i;
                        if( total > 100 && val > 0) {
                            $(e).val( val - 1);
                            total--;
                        } else if( total < 100 && val < 100) {
                            $(e).val( val + 1);
                            total++;
                        }
                    }
                }
            });
            
            return total;
        };
        $('.localeFunding input').change( function() {
            var total = parseInt( $(this).val(), 10);
            var collection = $('.localeFunding input[name!="' + $(this).attr('name') +'"]');
            collection.each( function(i,e) {total+=parseInt($(e).val(),10);});
            
            while( total != 100)
                total = adjustCollection(collection,total);
        });
        $('.localeFunding button').click( function(ev) {
            ev.preventDefault();
        });

        var adjustLeaders = function(l) {
            var i = leadersA.length - 1;
            var total = $('.leaderFunding input:checked') - numSelfFunded;
            while( total > 3) {
                if(l.val() && !leadersA[i].selffunding && leadersA[i].name!=l.attr('name')) {
                    $('.leaderFunding input[name="' + leadersA[i].name + '"]').val(0);
                    total--;
                }
                i--;
            }
            if( total == 3)
                $('.leaderFunding input:not(:checked)').attr('disabled',true);
            else
                $('.leaderFunding input:not(:checked)').attr('disabled',false);
        };
        $('.leaderFunding input').change( function() {
            adjustLeaders($(this));
        });
        adjustLeaders($('.leaderFunding input:first'));
        
        //incomePage
        $('.corpDetailButton').click( function(ev) {
            ev.preventDefault();
        });
    });